@import 'variables';
.container {
    display: flex;
    justify-content: center;
    user-select: none;
}
.board,
.square {
    display: flex;
}

.board {
    width: $board-size;
    height: $board-size;
    flex-wrap: wrap;
}

.flipped {
    transform: rotate(180deg);
}

.square {
    position: relative;
    width: $square-size;
    height: $square-size;
    font-size: $figure-size;
    justify-content: center;
    align-items: center;
}
.figure {
    cursor: pointer;
}

.white {
    background-color: $white-square-color;
}

.black {
    background-color: $black-square-color;
}
.possible-move {
    cursor: pointer;

    &::after {
        content: '';
        display: flex;
        position: absolute;
        width: $advice-circle-size;
        height: $advice-circle-size;
        border-radius: 50%;
        background-color: rgba(37, 108, 9, 0.5);
    }
}
