@import 'variables';
.container {
    display: flex;
    justify-content: center;
    user-select: none;
}
.board,
.square {
    display: flex;
}

.board {
    width: $board-size;
    height: $board-size;
    flex-wrap: wrap;
}

.square {
    width: $square-size;
    height: $square-size;
    font-size: $figure-size;
    justify-content: center;
    align-items: center;
}
.figure {
    cursor: pointer;
}

.white {
    background-color: $white-square-color;
}

.black {
    background-color: $black-square-color;
}
