@import 'variables';

.container {
    display: flex;
    justify-content: center;
    user-select: none;

    * {
        box-sizing: border-box;
    }
}

.board,
.square {
    display: flex;
}

.board {
    width: $board-size;
    height: $board-size;
    flex-wrap: wrap;
    background-color: white;
}

.flipped {
    transform: rotate(180deg);
}

.selected-figure {
    background-color: rgb(100, 125, 40) !important;
}

.square {
    position: relative;
    width: $square-size;
    height: $square-size;
    font-size: $figure-size;
    justify-content: center;
    align-items: center;
}
.figure {
    cursor: pointer;
}

.white {
    background-color: $white-square-color;
}

.black {
    background-color: $black-square-color;
}
.possible-move {
    cursor: pointer;

    &:hover {
        background-color: $suggestions-color;
    }

    &.possible-attack {
        border: 3px dashed $suggestions-color;

        &::after {
            content: none;
        }
    }

    &::after {
        content: '';
        display: flex;
        position: absolute;
        width: $advice-circle-size;
        height: $advice-circle-size;
        border-radius: 50%;
        background-color: $suggestions-color;
    }
}
