<div class="container">
    <div class="board" cdkDropListGroup>
        <div
            *ngFor="let figure of fen; let i = index"
            [id]="i.toString()"
            [ngClass]="getSquareClass(i)"
            cdkDropList
            [cdkDropListData]="[figure]"
            (cdkDropListDropped)="drop($event)"
        >
            <div
                *ngIf="figure !== '0'"
                cdkDragBoundary=".board"
                cdkDrag
                class="figure"
                [innerHTML]="getInnerHtml(figure)"
            ></div>
        </div>
    </div>
</div>
