<div class="container">
    <div class="board"  [ngClass]="getBoardClass" cdkDropListGroup>
        <div
            *ngFor="let figure of squares; let i = index"
            cdkDropList
            [id]="i.toString()"
            [ngClass]="getSquareClass(i)"
            [cdkDropListData]="[figure]"
            (cdkDropListDropped)="drop($event)"
            (click)="selectFigure($event, figure, i)"
            (mousedown)="selectFigure($event, figure, i)"
        >
            <!--            Uncomment it for debugging purposes-->
            <!--            <div style="position: absolute; font-size: 10px; top: 0; left: 0">-->
            <!--                {{getCoords(i)}}-->
            <!--            </div>-->
            <div
                *ngIf="figure !== '0'"
                cdkDragBoundary=".board"
                cdkDrag
                class="figure"
                [cdkDragDisabled]="getDraggableDisableState(i)"
                [innerHTML]="getInnerHtml(figure)"
            ></div>
        </div>
    </div>
</div>

<div class="menu">
    <button (click)="doRevertMove()" [disabled]="isRevertDisabled">Revert move</button>
    <button (click)="flipBoard()" >Flip board</button>
</div>
